<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Pizza Calculator</h1>

            <form method="POST" action "/">
                <input type="text" id="students" name="students"/>
                <label for="students">Number of Students</label>
            </form>
            
        </div>

        
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    </body>
</html>