<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Pizza Calculator</h1>
            
            <form method="POST" action "/">
                <input type="number" id="students" name="students"/>
                <label for="students">Number of Students</label>
                  <input type="range" name="hungerlevel" id="hungerlevel" min="0" max="5" />
                <label for="hungerlevel">Hunger Level</label>
                <br>
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
            
        </div>

        
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    </body>
</html>